%p TODO - Gov allows you to access helpful government checklists, and assists you in completing them.

%p
  From here you can get simple advice on what to do in the event of a family death, a new arrival or just when moving house.

%ul#lists
  - @lists.each do |list|
    %li=link_to(h(list.name), list)

= link_to "New List", new_list_path