%h2
  &= @user_list.name
  (
  %em#completed_percentage= @user_list.completed_percentage
  \% complete)
-form_for( @user_list ) do |f|
  %ul#user_list
    -@user_list.items.each do |item|
      %li.item
        =f.check_box "item_#{item.id}", :checked => item.checked?
        =f.label "item_#{item.id}", h(item.name)
