.widget.auto_submit.contact_the_register_office
  %h3
    Find your nearest registry office
  .perform_info
    = image_tag('spinner.gif', :alt => 'Please wait')
    Finding your nearest registry office...
  .error_message
    There was an error locating your nearest registry office. Maybe try again?
  - fields_for :user_data, :builder => TodoFormBuilder do |form|
    .url{ :value => '/widgets/contact_the_register_office' }
    = form.text_field :postcode
    = perform_button('Search')

