.widget.find_your_nearest_gp
  %h2
    Find your nearest gp
  .perform_info
    Finding your nearest GP...
  - form_for :user_data, :builder => TodoFormBuilder do |form|
    = form.text_field :postcode
    = perform_button('Search')
