.widget.find_your_nearest_gp
  .perform_info
    Finding your nearest GP...
  Find your nearest gp
  - form_for :user_data, :builder => TodoFormBuilder do |form|
    = form.text_field :postcode
    = perform_button('Search')
