.results
  Here is a list of doctors near
  = params["user_data"]["postcode"], ":"
  %ul
    -@doctors.each do |doctor|
      %li
        =link_to(doctor.name, doctor.details_url)
        \-
        =doctor.telephone

.perform
  .perform_info
    = image_tag('spinner.gif', :alt => 'Please wait')
    Finding your nearest GP...
  .error_message
    There was an error locating your nearest gp. Maybe try again?
  Try a new search:
  - form_for :user_data, :url => '/widgets/find_your_nearest_gp', :builder => TodoFormBuilder do |form|
    = form.text_field :postcode, :value => params["user_data"]["postcode"]
    = perform_button('Search')
