.perform_info, .error_message {
  display: none;
}

.widget {
  background: #dfd ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: .25em .5em;
  margin: 0 -.5em 1em;
}

.widget h3 {
  font-size: medium;
  margin-top: 0;
}

.widget .error_message {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #900;
  background-color: #fcc;
}
