.perform_info, .error_message {
  display: none;
}

.widget {
  border: 1px solid #999;
}

h2 {
  font-size: medium;
}

.widget .error_message {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #900;
  background-color: #fcc;
}
