!!!
%html
  %head
    %title todo.gov.uk
    = stylesheet_link_tag :all, :cache => true

  %body
    %h1#title
      =link_to("todo.gov.uk", root_path)
      =link_to(image_tag("rewiredstate.png"), "http://rewiredstate.org/projects/todo-gov-uk", :title => "A Rewired State Project")
    #content
      #head
        -if current_user
          =render :partial => "layouts/user_bar", :locals => {:user => current_user}
      =yield
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}= "var current_user = #{{:data => (current_user ? current_user.datamap : {})}.to_json}"
    = javascript_include_tag :all, :cache => true
    